## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## Visual Studio
.vs/
.vscode/
*.userprefs
*.pidb

## Rider
.idea/

## User-specific files
*.rsuser
*.user
*.userosscache
*.sln.docstates

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## OS files
.DS_Store
Thumbs.db

## App-specific
*.log
appsettings.Development.json
